{% extends "base.html" %} {% block content %}




<h2>Image Classifier</h2>
<div >
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" >

<h2>
    Mini project by
</h2>
<h3>
    AMOGH HT - USN:4VV17EC004
    <br>
    APOORVA R - USN:4VV17EC004
    <br>
    ASHRITH BP - USN:4VV17EC004
</h3>
<br>
    <br>
    <h2>
    Faculty guide: prof SANDEEP R
</h2>
</div>

{% endblock %}